@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');
/* font-family: "LXGW WenKai Mono TC", monospace; */

/*視窗背景色設定*/
body {
    /* background-color: #e9e5bf;
    background-image: url(/images/bg.png);
    background-repeat: repeat-x; */
    background: #e9e5bf url(/images/bg.png) repeat-x;
    /* 可以將3行寫成一行 */

    /* /* background: repeat-x; */
    /* background-position: 0 100px; */
    /* background: repeat-y;
    background-position: 0 100px; */
}

/*連結顏色設定*/
a:link {
    color: green;
    /* 連結原本的顏色 */
}

a:visited {
    color: orange;
    /* 拜訪過的顏色 */
}

.menu a:hover {
    background-color: rgb(56, 233, 56);
    /* 滑鼠移到的顏色 */
    border: 1px solid #2fa511;
}

a:active {
    color: black;
}

/* 強制全部紅色 */
/* a{
    color: red;
} */

/*頁首,導覽,頁尾的共通設定,同時設定3個header nav footer*/
header,
nav,
footer {
    text-align: center;
}

/*導覽樣式設定*/
.menu {
    margin-left: -2.5em;
}

.menu li {
    list-style-type: none;
    /* border: 1px solid red; */

    display: inline-block;
    /* 顯示呈文字... */
    width: 200px;
    margin: 0 10px;
    /* padding: 10px;
    border-radius: 11px;
    background-color: #58a985; */
}

.menu li a {
    color: white;
    text-decoration: none;
    /* 去底線 */
    background-color: #58a985;
    display: block;
    /* 讓連結與整個li的block一樣大 */
    padding: 10px;

}


/*頁面標題設定*/
h1 {
    color: white;
    background-color: #58a985;
    width: 380px;
    height: 180px;
    border-radius: 50%;
    padding: 58px;
    /* width: 380px;
    padding: 99px; */

    border: solid 6px #98deb7;
    box-sizing: border-box;
    /* 加入這一行才會回到width250px,不然會加border和padding值 x2,使得框框變大 */
    margin: 65px auto;
    /* 原本是上右下左 4個值,變2個是上下 和左右外距的值! 左右auto則會在網頁置中 */
    font-size: 3em;
    line-height: 1em;
    text-shadow:
        -1px -1px #ffffff,
        1px 1px #333333,
        0px 2px 16px #03f789,
        0px 4px 18px #02c76e,
        0px 6px 22px #028a4c,
        0px 8px 28px #01522d,
        0px 10px 36px #01311b;
    box-shadow: 0px 11px 16px #081009;
    font-family: "LXGW WenKai Mono TC", monospace;
    background: linear-gradient(to bottom, #8cf0c5, #3b7c60);
}

.intro {
    color: #01311b;
    font-size: 1.6em;
}

/*次標題設定*/
h2 {
    color: #76db9b;
    padding: 10px;
    border: 1px dotted #76db9b;
    border-left: 16px solid #76db9b;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    /* background: linear-gradient(to right, #d0e35b, white); */
}

/*小標題設定*/
h3 {
    color: #ff705b;
    background-color: #fbf9cc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #6260e9 inset;
    /* inset 是內部陰影用法 */
}

/*內容區塊邊框設定*/
div.content {
    background-color: white;
    width: 960px;
    border: 1px solid #f7c7a3;
    margin: 30px auto;
    /* 外距 */
    padding: 40px 80px;
    /* 內距 */
    box-sizing: border-box;
    /* 讓內容和邊框一樣大 */

}

/*「更多介紹」連結設定*/
.more {
    text-align: right;
}

/* 放在更多介紹超連結之後的東西 */
.more::after {
    content: url(images/ico_arrow.png);
    margin-left: 5px;
    vertical-align: middle;
    /* 垂直的指定 */
}

/*連結圖示設定*/
a[href^="mailto://"]::after {
    content: url(images/ico_mail.png);
    margin-left: 6px;
    vertical-align: middle;
}

a[href*="192.168"]::after {
    content: url(images/ico_blank.png);
    margin-left: 6px;
    vertical-align: middle;
}

/*區塊間分隔*/
/* section + section{
    margin-top: 80px;
} */
div.content>section~section {
    margin-top: 80px;
}

/*文繞圖設定*/
.imgL {
    float: left;
    margin-right: 20px;

    border-radius: 6px;
    border: 1px solid #5273bb;
    padding: 6px 6px;
    box-shadow: 0px 0px 16px 5px #390974 inset;
}

.imgR {
    float: right;
    margin-left: 10px;

    border: 1px solid #f7c7a3;
    padding: 6px 6px;
    box-shadow: 0px 0px 16px 5px #cf5b03 inset;
}

.imgRAD {
    border-radius: 50%;
    border: 1px solid rgb(3, 245, 233);
}

.clear {
    clear: both;
    /* 左右兩邊都因float停止上漂 */
}

/* 官方指定停止float的方法 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*圓形圖片設定*/

/* 表格設定 */
table {
    width: 100%;
    border: 3px solid #f7c7a3;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-spacing: 10px;
}

th,
td {
    border: 2px solid #f7c7a3;
    padding: 10px 50px;
}

th {
    background-color: #ffeeee;
    text-align: left;
    width: 10em;
}

table caption {
    margin-bottom: 10px;
}

/* 表單輸入框 */
table input[type="text"],
table input[type="email"],
table textarea {
    border: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 6px;
}

table input[type="text"]:focus,
table input[type="email"]:focus,
table textarea:focus {
    background-color: rgb(241, 211, 182);
    border: 3px solid rgb(70, 46, 90);
    border-radius: 6px;
    outline: none;
}

/* 按鈕設定 */
.btns {
    text-align: center;
}

.btns input {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #f7c7a3;
    border-radius: 6px;
    font-size: 1em;
    margin: 0 10px;
}

.btns input:hover {
    background-color: #f6d9c9;
}


/* 以下是自行加入的 */
.galaxy1 {
    background-color: #e9e5bf;
    color: #305e49;
    font-size: 1.2em;

    font-family: "Chocolate Classical Sans", sans-serif;
    border: 2px dotted rgb(10, 184, 18);
    padding: 16px auto;
}

.galaxy2 {
    background-color: #e9e5bf;
    color: #930dad;
    font-size: 1.6em;

    font-family: yozai-M;
    border: 2px dotted rgb(10, 184, 18);
    padding: 16px auto;
    background: radial-gradient(farthest-side at 70% 30%,rgb(162, 149, 245),rgb(132, 212, 248),rgb(53, 129, 190)
    );
    border-radius: 6px 6px;
}

.spanhighlight {
    color: #13db81;
    font-weight: bolder;
}


.card {
    width: 22%;
    height: 380px;
    display: inline-block;
    background-color: #81c2a5;
    border: 1px solid #01311b;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 6px 6px 10px 4px #777777;
}

.card .last {
    margin-right: 0;
    /* 不推,會掉下一行 */
}


.content .galaxy2::first-letter{
    font-size: 2em;
}

.content .galaxy2::first-line{
    background-color: #48f31d;
}

@font-face {
    font-family: yozai-M;
    src: url(Yozai-Medium.ttf);
}